* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}
section {
  width: 400px;
  /* border: 2px solid blue; */
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  padding-bottom: 20px;
}

.cal {
  width: 100%;
  height: auto;
  border: 3px solid black;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}
.cal button {
  font-size: 20px;
  width: 60px;
  height: 60px;
  background-color: whitesmoke;
  border-radius: 50%;
  display: grid;
  align-items: center;
  gap: 10px;
}
.cnt {
  font-size: 60px;
  padding-right: 30px;
  padding-top: 40px;
  color: white;
}
